.header__contacts-schedule {
    font-size: 0.9em;
    /*outline: 1px solid #c1c800;*/
    width: 100%;
    height: min-content;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e6e6e6;

    overflow: hidden;
}

.header__contacts-schedule-container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
}


@media (max-width: 1200px) {
    .header__contacts-schedule-container {
        width: 95%;
    }
}

@media (max-width: 700px) {
    .header__contacts-schedule-container {
        height: max-content;
        width: 100%;
    }


}

@media (max-width: 300px) {
    .header__contacts-schedule {
        font-size: 0.7em;
    }
}

/*---------------------------------------PHONE---------------------------------------*/
.header__contacts-container {
    width: 40%;
    max-width: 400px;
    height: 100%;
    padding: 0 20px 0 20px;

    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;

    float: left;
    /*outline: 1px solid #7e0102;*/
}

.header__contacts {
    width: 95%;
    height: 100%;
    /*border-radius: 8px;*/

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;

    align-items: center;

    /*outline: 1px solid #7e0102;*/
}

.header__phone {
    text-decoration: none;
}

.header__phone:hover {
    text-decoration: underline;
}

@media (max-width: 700px) {
    /*PHONE and schedule*/
    .header__contacts-container {
        max-width: none;
        width: 100%;
        height: min-content;
        padding: 0;

        float: none;
    }

    .header__contacts {
        width: 70%;
        height: 50px;
        padding: 0;
        margin: 0 auto;

    }

    .header__phone {
        padding: 0 15px 0 0;
    }
}

@media (max-width: 590px) {
    .header__contacts {
        width: max-content;
    }
}

/*---------------------------------------schedule---------------------------------------*/
.header__schedule {
    grid-row: 1/3;

    color: red;
    text-align: center;

    align-self: center;

    /*outline: 1px solid #7e0102;*/
}


/*---------------------------------------ADDRESS---------------------------------------*/
.header__address-container {
    width: 250px;
    height: 100%;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;

    float: right;
    position: relative;

    /*outline: 1px solid #7e0102;*/

}

.header__address {
    width: 90%;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    /*outline: 1px solid #a820da;*/
}

.header__address-container a {
    text-decoration: none;
    color: #000000;
    line-height: 1.5em;
}

.header__address-container a:hover {
    color: #d65b35;
    text-decoration: underline;
}

.header__address-container a p {
    margin: 0;
}

@media (max-width: 700px) {
    /*ADDRESS*/
    .header__address-container {
        width: 100%;
        border-top: 1px solid #e6e6e6;
        border-right: none;
        border-left: none;

        float: none;
    }

    .header__address {
        height: max-content;
        margin: 0 auto;

        transform: translate(0%, 0%);
        position: static;

        text-align: center;
    }

}