.header_first_section {
    font-size: 1.1em;
    /*outline: 1px solid #c1c800;*/
    width: 100%;
    padding: 0;
    margin: 0 0 5px 0;
    border-bottom: 1px solid #e6e6e6;

    height: max-content;
}


/*---------------------------------------PHONE---------------------------------------*/
.phone_schedule_container {
    width: 40%;
    max-width: 400px;
    height: 100%;
    padding: 0 20px 0 20px;
    margin: 0;

    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;

    float: left;
    /*outline: 1px solid #7e0102;*/
}

.phones_schedule_wrapper {
    width: 95%;
    height: 100%;
    /*border-radius: 8px;*/

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;

    align-items: center;

    /*outline: 1px solid #7e0102;*/
}

.phone {
    text-decoration: none;
}

.phone:hover {
    text-decoration: underline;
}

@media (max-width: 940px) {
    /*PHONE and schedule*/
    .phone_schedule_container {
        max-width: 3330px;
        width: 100%;
        height: min-content;
        padding: 0 0 0 0;
        float: none;
    }

    .phones_schedule_wrapper {
        padding: 0;
        margin: 0 auto;
        width: max-content;
        height: 70px;

    }
    .phone{
        padding:  0 15px 0 0 ;
    }
}

/*---------------------------------------schedule---------------------------------------*/
.schedule {
    grid-row: 1/3;

    color: red;
    text-align: center;

    align-self: center;

    /*outline: 1px solid #7e0102;*/
}


/*---------------------------------------ADDRESS---------------------------------------*/
.address_container {
    height: 100%;
    width: 250px;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;

    float: right;
    position: relative;

    /*outline: 1px solid #7e0102;*/

}

.address_wrapper {
    width: 90%;

    position: absolute;
    top:50%;
    right: 0;
    transform: translateY(-50%);

    /*outline: 1px solid #a820da;*/
}

.address_container a {
    text-decoration: none;
    color: #000000
}

.address_container a:hover {
    color: #d65b35;
    text-decoration: underline;
}

@media (max-width: 940px) {
    /*ADDRESS*/
    .address_container {
        width: 100%;
        padding: 5px 0 0 0;
        margin: 0 0 10px 0;

        border-top: 1px solid #e6e6e6;
        border-right: none ;
        border-left: none;

        float: none;
    }

    .address_wrapper {
        height: max-content;
        margin: 0 auto;

        transform: translate(0%, 0%);
        position: static;

        text-align: center;
    }

}