@import "header_first_section.css" all;
@import "header_second_section.css" all;

header {
    width: 100%;
    font-weight: bold;
    font-size: 1.2em;

    /*outline: 1px solid #7e0102;*/
}

.header_sections_container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
}


@media (max-width: 1200px) {
    .header_sections_container {
        width: 95%;
    }
}

@media (max-width: 940px) {
    .header_sections_container {
        height: max-content;
        width: 100%;
    }
}

@media (max-width: 352px) {
    header {
        font-size: 1em;
    }
}