@import "header_first_section.css" all;
@import "header_second_section.css" all;

header {
    box-sizing: border-box;
    width: 100%;
    font-weight: bold;
    font-size: 1em;
    /*outline: 1px solid #7e0102;*/
}

@media (max-width: 850px) {
    header {
        font-size: 0.9em;
    }
}

