
.head_second_section {
    /*outline: 1px solid #c80034;*/
    width: 100%;
    margin: 0 auto;
    border-color: #d65b35;
    height: max-content;

    position: relative;
}


/*---------------------------------------NAVIGATION---------------------------------------*/
.buttons_container {
    /*outline: 1px solid #3cc850;*/
    float: right;
    position: relative;
    height: 100%;
    width: 680px;
}

@media (max-width: 940px) {
    .buttons_container {
        display: inline-block;
        width: 40%;
        position: absolute;
        right: 0;
    }
}

.button_main, .button_services, .button_contacts {
    font-size: 1.3em;
    font-weight: bolder;

}

/*---------------------------------------nav FOR WIDE SCREENS---------------------------------------*/


.but_wide_wrap {
    font-size: 22px;

    width: 100%;
    height: max-content;
    transform: translate(-50%, -30%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.but_wide_wrap div {
    display: inline-block;

    padding: 5px 10px 5px 10px;
    margin: 0 20px 0 20px;

    background-color: #f8f8f8;
    border-radius: 5px;

}

.but_wide_wrap div:hover {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 5px 4px rgba(37, 41, 33, 0.2);

    /*background-color: #e3dcd7;*/
}

.but_wide_wrap div:last-child {
    margin-right: 0;
}

.but_wide_wrap div:first-child {
    margin-left: 0;
}


@media (max-width: 940px) {
    .but_wide_wrap {
        display: none;
    }
}


/*---------------------------------------NAV FOR narrow SCREENS---------------------------------------*/
.but_narrow_wrap {
    background: #d6d6d6;
    border-radius: 10px 10px 0 0;

    display: none;
    width: 100%;
    box-sizing: content-box;
    padding: 10px 0 5px 0;
    margin: 0 auto;
    /*margin-top: -10px;*/

    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -30%);

    /*outline: 1px solid #c8003f;*/
}

.but_narrow_wrap .button {
    background: #d6d6d6;
    border-radius: 7px;

    box-sizing: border-box;
    margin: 0 auto;
    width: min-content;
    padding: 10px ;

    cursor: pointer;
    user-select: none;
}

.but_narrow_wrap .button span {
    display: block;
    background: rgba(0, 0, 0, 0.75);
    width: 25px;
    height: 4px;
    border-radius: 3px;
    transform-origin: center;
    transition: 0.5s ease;
}

.but_narrow_wrap .button span:nth-child(2) {
    margin: 4px 0;
}

.but_narrow_wrap .button.toggled span:first-child {
    transform: translateY(10px) rotate(45deg);
}

.but_narrow_wrap .button.toggled span:nth-child(2) {
    opacity: 0;
}

.but_narrow_wrap .button.toggled span:last-child {
    transform: translateY(-6px) rotate(-45deg);
}


@media (max-width: 940px) {
    .but_narrow_wrap {
        display: block;
    }
}

/*----------------------------------------button------------------------------------------*/
.narrow_buttons {
    background: #d6d6d6;
    border-radius: 0 0 10px 10px;

    /*outline: 1px solid #3cc850;*/
    text-align: center;

    position: absolute;

    width: 100%;
}

.narrow_buttons div {
    padding: 0.5em 0 0 0;
}

.narrow_buttons div:last-child {
    padding-bottom: 0.5em;
}

@media (max-width: 550px) {
    .narrow_buttons {
        font-size: 0.7em;
    }
}

/*---------------------------------------LOGOTYPE---------------------------------------*/
header .logo_container {
    float: left;
    position: relative;

    height: 100%;
    width: 200px;
    /*outline: 1px solid #3cc850;*/
}

header .logo_wrapper {
    height: 95%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*outline: 1px solid #3cc850;*/
}

.logo_wrapper img {
    width: 100%;
}


@media (max-width: 940px) {
    /*LOGOTYPE */
    /*LOGOTYPE*/
    header .logo_container {
        float: none;
        display: inline-block;
        position: static;
        width: 40%;
        /*outline: 1px solid #3cc850;*/
    }

    header .logo_wrapper {
        width: 100%;
        position: static;
        top: 50%;
        left: 50%;
        transform: translate(0%, 0%);
        /*outline: 1px solid #3cc850;*/
    }

    .logo_wrapper img {
        margin: 0 0 0 20px;
        width: 100%;
        max-width: 220px;
        min-width: 120px;
    }
}