@import "header.css" all;
@import "content.css" all;

body {
    /*height: 10000px;*/

    margin: 0;
    padding: 0;
    border: none;

    font-family: 'PT Sans', sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 25px;

    background-color:#F5F5F5 ;
}

.disp_none {
    display: none;
}

disp_block {
    display: block;
}

/*MAIN*/

#in_dev {
    height: max-content;
    padding: 5px 5px 5px 6px;
    border-radius: 2px 10px 2px 10px;
    background-color: rgba(158, 146, 108, 0.42);
    position: fixed;
    left: 0;
    top: 40%;
}

#map_yandex {
    height: 100%;
    width: 100%;
    /*outline: 1px solid #7e0102;*/
}

/*--------------------------------MAIN END----------------------------------------------------*/

footer {
    width: 100%;

    border-radius: 10px 15px 0 0;


    height: 150px;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    position: relative;
/
    /*bottom: 0;*/
}

/*LOGO*/


/*Yandex profile iframe*/

footer iframe {
    position: absolute;
    top: 30px;
    right: 40px;
    /*align-self: flex-end;*/
    /*    justify-self: flex-start;*/
}

/*text for customers*/

@media (max-width: 480px) {

    #map_yandex {
        border-radius: 10px;
    }

    footer {
        flex-wrap: nowrap;
        align-items: center;
    }

    footer iframe {
        position: static;

    }

}