main {
    width: 100%;
    margin: 10px 0 0 0;
    height: max-content;
}


/*-----------------------------------------GALLERY------------------------------------*/
.main__gallery-container {
    width: 100%;
    height: 300px;
}

.main__gallery {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main__gallery img {
    width: 100%;
    min-width: 350px;
    height: auto;
    transform: translateY(-25%);
}

@media (max-width: 1350px) {
    .main__gallery-container {
        height: 250px;
    }

    .main__gallery img {
        transform: translateY(-30%);
    }

}

@media (max-width: 850px) {
    .main__gallery-container {
        height: 200px;
    }

    .main__gallery img {
        transform: translateY(-5%);
    }
}

@media (max-width: 650px) {
    .main__gallery-container {
        height: 150px;
    }
}


/*-----------------------------------------REQUEST------------------------------------*/

.main__form {
    width: 100% ;
    height: 280px;
    margin: 16px 0 0 0;

    position: relative;
    background-color: rgba(255, 242, 0, 0);
    outline: 1px #ff0000 solid;
}
.form-for-request__inputs{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form-for-request__input {
    max-width: 500px;
    margin: 0 auto;

    display: flex;
    align-items: center;
}


.form-for-request__input label {
    flex: 35%;
    padding-right: 15px;
    padding-left: 5px;

    font-size: 1.1em;
}

.form-for-request__input input {
    padding: 5px;

    border: 2px #eee solid;
    border-radius: 5px;

    font-size: 1em;
    line-height: 1.5em;

    flex-basis: 65%;
}

.form-for-request__input input:focus {
    border-color: #ffdb4d;
    outline: none;
}

@media (max-width: 500px) {
    .form-for-request__input {
        margin: 17px auto;
        flex-direction: column;
    }

    .form-for-request__input input {
        width: 60%;
    }
}


.main__form button {
    margin: 0 auto;
    margin-top: 1.5em;
    padding: 0 16px;

    display: block;

    color: #000;
    border: none;
    border-radius: 3px;
    background: #ffdb4d;

    font-size: 1em;
    line-height: 2em;

}


.required {
    color: #aa3e2f;
}

/*----form output----*/
.form__comment {
    color: #777;

    font-size: .7em;
}


/* --------success or error----------*/
.form-for-request__request-valid-msg {
    margin: 0;
    padding: 7px;

    display: none;

    text-align: center;
    color: #155724;
    border-radius: 3px;
    background: #d4edda;
}

.form_valid .form-for-request__request-valid-msg {
    display: block;
}

.form-for-request__request-invalid-msg {
    margin: 0;
    padding: 7px;

    display: none;

    text-align: center;
    color: #721c24;
    border-radius: 3px;
    background: #f8d7da;
}

.form_invalid .form-for-request__request-invalid-msg {

    display: block;
}

.input_error {

    border-color: #d00;
}


/*-----------------------------------------GALLERY------------------------------------*/