@import "header.css" all;

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    border: none;

    font-family: 'PT Sans', sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 25px;
}



/*MAIN*/
main {
    margin: 20px 0 20px 0;
    width: 100%;
    height: 650px;
}

#map_yandex {
    height: 100%;
    width: 100%;
    /*outline: 1px solid #7e0102;*/
}

/*--------------------------------MAIN END----------------------------------------------------*/

footer {
    width: 100%;

    border-radius: 10px 15px 0 0;


    /*background: rgba(254, 255, 187, 0.8);*/

    height: fit-content;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    position: relative;
/
    /*bottom: 0;*/
}

/*LOGO*/
footer .logo_wrapper {
    /*outline: 1px solid #7e0102;*/
    width: 20%;
    min-width: 100px;
    max-width: 200px;
}

footer .logo_wrapper p {
    font-size: smaller;
    text-align: center;

    display: block;
    margin: 0 0 10px 0;
}


/*Yandex profile iframe*/

footer iframe {
    position: absolute;
    top: 30px;
    right: 40px;
    /*align-self: flex-end;*/
    /*    justify-self: flex-start;*/
}

/*text for customers*/

.line_under_text_footer {
    width: 90%;
    margin: 3px auto 0 auto;
    height: 5px;
    align-self: center;
    border-radius: 5px;


    background-color: rgba(0, 0, 0, 0.53);
}

footer .text_for_customers {
    /*outline: 1px solid #7e0102;*/
    font-size: 0.8em;
    font-style: italic;
    margin: 5px auto 0 auto;
    width: 80%;
    text-align: center;

    align-self: center;
}

/*------------------------------------*/
@media (max-width: 880px) {

}

@media (max-width: 480px) {

    #map_yandex {
        border-radius: 10px;
    }

    footer {
        flex-wrap: nowrap;
        align-items: center;
    }

    footer iframe {
        position: static;

    }

}